@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap');






* {

    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

html {

  
    font-size: x-large;
     scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    
}


header {


    margin: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 8px 8px 8px 8px burlywood;
    border-radius: 10px;
    background-color: #ffcdd2;

}

.box{
      
      
      color: saddlebrown;
      font-size: larger;
      font-weight: bolder;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.button {

    color: peru;
    margin-left: 18px;
    font-size: large;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;


}

#logo {

    font-weight: bolder;
    font-size: 25px;
    color: green;
    padding: 5px;

}

.button:hover {

    color: purple;
    background-color: lightgreen;
    border: 2.5px solid blueviolet;
    cursor: pointer;
    font-style: italic;
    font-size: larger;
    font-weight: bolder;
}




#bar {


    
    border-radius: 75%;
    font-size: 25px;
    background-color: palevioletred;
    color: sandybrown;
    display: none;

}

#bar:hover {

    cursor: pointer;
    color: purple;
    background-color: #ffcdd2;
    transform: rotate(360deg);

}


/* media queries */

@media(min-width:992px)
{

    .button{


        font-size: 25px;

    }

    .box{

        font-size: 30px;
    }

    #logo{
        font-size: 30px;
    }

}


@media(min-width:821px) and (max-width:992px)
{

  .button{

    font-size: 22px;
    padding: 3px;
  }


}

@media(max-width:821px) and (min-width:769px)
{

    .box{

        font-size: 25px;
        padding: 1px;

    }

    #logo{

        font-size: 23px;
        padding: 2px;
    }

    header .navbar
    {
      
       
        margin-left: 10px;

    }

    .button{

        font-size: 19px;
        padding: 3px
    }

}

@media(max-width:768px)
{

    .box{

         font-size: 30px;
         padding: 5px;
    
    }

   #logo{

      font-size: 30px;
      margin-left: 10px;

    }

    header{

        margin: 4px;
        padding: 6px;

    }

   #bar{

        display: block;
        padding: 9px;
        margin: 16px;
        font-size: 25px;
   

}

 .navbar {

   position: absolute;
   top: 27%;
   left: 0;
   right: 0;
   display: flex;
   flex-direction: column;
   text-align: left;
   transition: all ,40s ,ease;

 } 

 .navbar a{

    display: block;
    padding: 8px;
    margin-left: 25px;
    margin-right: 16px;
    margin-top: 16px;
    border: 7px solid #ab47bc;
    background-color: #ffcdd2;

 }

 .navbar.active{

    top: 100%;
       
    }

} 



/* design for the home section   */

.home{

    padding: 1rem 8%;
    background: url('https://png.pngtree.com/back_origin_pic/04/50/31/5f329722749046575c75f042a7bfa9f9.jpg');
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 58px;
    padding-top: 65px;

}

.text h1{

color: darkblue;
font-weight: bolder;
font-size: 61px;
text-shadow: 5px 5px #90caf9;
}


.text p{

font-weight: bolder;
font-size: 44px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: orangered;
padding: 25px;

}

.text p:hover{

    cursor: pointer;
    font-size: 46px;
    color: darkgreen;
    padding: 10px;
    font-style: italic;
}

.text h1:hover{

    font-style: italic;
    cursor: pointer;
    color: saddlebrown;
    text-shadow: none;
}

/* menu section */

.menu{

    background: url('https://ak.picdn.net/shutterstock/videos/17838394/thumb/1.jpg');
    height: 98vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.para{

 
    text-align: center;
    font-size: 48px;
    background-color: pink;
   text-transform: capitalize;
   text-shadow: 5px 5px saddlebrown;
   cursor: pointer;
    font-style: italic;
    color: darkorange;
   
}

.food{

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.foody{

    flex: 1 1 14rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 10px solid darkgreen;
    border-radius: 1rem;
    padding-right: 92px;
    margin: 10px;

}

.foody img{

    height: 100%;
    width: 100%;
    object-fit: cover;
    top: -100%;
    left: 0;
    position: absolute;
   
}

/* button */
.buttons {
    margin: 5%;
    text-align: center;
}

.btn-hover {
    width: 290px;
    font-size: 46px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin: 10px;
    height: 65px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    -o-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

#para{

    font-style: italic;
    font-weight: bolder;
    
}


.btn-hover.color-6 {
    background-image: linear-gradient(to right, pink, #7b1fa2, #ffca28, #c62828);
    box-shadow: 9px 8px 5px 3px sienna;
    
}

/* button ends */


.foody:hover{
    box-shadow: -8px 8px 10px 10px purple;
    border: none;
}

.foody{

    text-align: center;
    background: #a0522db8;

}

.foody:hover img{

top: 0;

}


.head h3{

    text-align: center;
    color: lawngreen;
    top: -100%;
    left: 0;
  
}


.head p{

    text-align: center;
    color: lightgreen;
    font-size: 24px ;
    font-style: italic;
    top: -100%;
    left: 0;
    
}


/* speciality section */

.speciality{
background: url('https://image.freepik.com/free-photo/flat-lay-paper-card-mockup-breakfast-table_23-2148200766.jpg');
height: 98vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.body{

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.sec{

    flex: 1 1 14rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 10px solid yellowgreen;
    border-radius: 1rem;
    padding-right: 92px;
    margin: 10px;

}

.sec img{

    height: 100%;
    width: 100%;
    object-fit: cover;
    top: -100%;
    left: 0;
    position: absolute;
   
}

.sec:hover{
    box-shadow: -8px 8px 10px 10px saddlebrown;
    border: none;
}

.sec{

    text-align: center;
    background: cornsilk;

}

.sec:hover img{

top: 0;

}

.special h3{

    text-align: center;
    color: hotpink;
    top: -100%;
    left: 0;
  
}


.special p{

    text-align: center;
    color: rgb(164, 81, 81);
    font-size: 24px ;
    font-style: italic;
    top: -100%;
    left: 0;
    
}


.contain{

 
    text-align: center;
    font-size: 48px;
    background-color: pink;
   text-transform: capitalize;
   text-shadow: 5px 5px saddlebrown;
   cursor: pointer;
    font-style: italic;
    color: darkorange;
   
}

/* .contain:hover{

    background-color: lightgreen;
   color: darkgreen;
   text-shadow: none;
   width: 50%;
   box-shadow: 7px 7px 7px 7px sienna;
} */


/* review section */

.review{

 background: url('https://www.singaporeexpo.com.sg/ui/frontend/images/recent6.jpg');
height: 98vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}



.review .can{

    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 90px;
    padding: 60px;
}

.review .will{

    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border: 7px solid brown;
    /* box-shadow: 7px 7px 7px 7px sienna; */
    border-bottom-right-radius: 160px;
    border-top-left-radius: 160px;
    flex: 1 1 15rem;
    background: #ffcdd2;
   
}

.review img{

    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-top: -2rem;
    object-fit: cover;
    border: 5px solid #ab47bc;
}

.review h1{

        text-align: center;
        font-size: 58px;
        background-color: pink;
       text-transform: capitalize;
       text-shadow: 5px 5px saddlebrown;
       cursor: pointer;
        font-style: italic;
        color: darkorange;
        padding: 15px;
       
    }

.review h3{

    font-size: 44px;
    color: purple;
  
}    

.stars{

    font-size: 27px;
    color: rgb(164, 81, 81);
    
}

.review p{

    font-size: 27px;
    color: rgb(5, 95, 19);
    
}


/* order section design */


.order{

background: url('https://i.pinimg.com/originals/49/21/0a/49210a1fc7af10a2278bef716841f194.jpg');
background-repeat:no-repeat ;
background-size: cover;
background-position: center;

}

.col{

align-items: center;
justify-content: center;
gap: 5px;
width: 700px;
margin: 14px;
padding: 19px;
font-size: 30px;
color: sienna;
background-color: #e8bbc2;
border: 8px solid purple;
border-bottom-right-radius: 30px;
border-top-left-radius: 30px;
}

.form{
    margin-left: 400px;
}

.order h1{
    text-align: center;
    font-size: 58px;
    background-color: pink;
   text-transform: capitalize;
   text-shadow: 5px 5px saddlebrown;
   cursor: pointer;
    font-style: italic;
    color: darkorange;
    padding: 15px;
   margin-left: 0;
}

